.aboutsec {
    height: 800px;
}


@media screen and (min-width: 500px) and (max-width: 900px) {
    
}


@media screen and (min-width: 901px) {
    .aboutdiv {
        border: 2px solid rgb(226, 226, 226);
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
        z-index: 2;
        background-color: white;
    }
    

    .JEMPic {
        height: 100%;
        width: 400px;
        object-fit: cover;
        object-position: 35%;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
    }
    
    .achibox, .goalbox {
        height: 260px;
        width: 370px;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
        background-color: white;
        z-index: 2;
    }
    .arrowd {
        height: 25px;
        width: 25px;
        transform: rotate(45deg);
        margin-left: 123px;
        animation: moveUpDownA 2.5s ease-in-out infinite;
        transform: rotate(45deg) translateY(0);
        top: 15px;
        left: 2.7px;
        position: relative;
    }
    #abouth1 {
        padding:2px 4px 2px 4px;
    }
}



@keyframes moveUpDownA {
    0% {
        transform: rotate(45deg) translateY(0);
    }
    50% {
        transform: rotate(45deg) translate(8px,8px); /* Combined translateX and translateY */
    }
    100% {
        transform: rotate(45deg) translateY(0);
    }
}

