@media screen and (min-width: 901px) {
    .aboutdiv {
        border: 2px solid rgb(226, 226, 226);
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
        z-index: 2;
        background-color: white;
    }


    .JEMPic {
        height: 100%;
        width: 400px;
        object-fit: cover;
        object-position: 35%;
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
    }

    .achibox,
    .goalbox {
        height: 260px;
        width: 370px;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
        background-color: white;
        z-index: 2;
    }

    .arrowd {
        height: 25px;
        width: 25px;
        transform: rotate(45deg);
        margin-left: 123px;
        animation: moveUpDownA 2.5s ease-in-out infinite;
        transform: rotate(45deg) translateY(0);
        top: 15px;
        left: 2.7px;
        position: relative;
    }

    #abouth1 {
        padding: 2px 4px 2px 4px;
    }
}

@media screen and (min-width: 902px) and (max-width: 1413px) {

    .infosec {
        display: flex;
        flex-direction: column-reverse;
    }
    .layoutdiv {
        width: 100%;
    }
    .jemdiv {
        display: flex;
        justify-content: center;
    }
}



@keyframes moveUpDownA {
    0% {
        transform: rotate(45deg) translateY(0);
    }

    50% {
        transform: rotate(45deg) translate(8px, 8px);
        /* Combined translateX and translateY */
    }

    100% {
        transform: rotate(45deg) translateY(0);
    }
}






@media screen and (min-width: 200px) and (max-width: 900px) {

    .aboutsec {
        overflow: none;
        height: auto;
    }

    .aboutdiv {
        height: auto;
        width: 90%;
        padding: 0px;
        margin-top: 50px;
        width: auto;
        padding: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #abouth1 {
        overflow: hidden;
    }

    .aboutdiv h1 {
        font-size: 30px;
        overflow: hidden;
    }

    .layoutdiv {
        flex-direction: column;
        padding: 0;
        width: auto;
    }

    .infosec {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: center;
    }

    .JEMPic {
        height: 300px;
        width: 400px;
        object-fit: cover;
        object-position: 35%;
        border-radius: 20px;
    }

    .jemdiv {
        width: 90%;
        display: flex;
        justify-content: center;

    }

    .headerdivm {
        margin-bottom: 30px;
    }

    .boxlayout {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        justify-content: space-between;
        height: auto;
    }

    .achibox {
        width: 96%;
        display: flex;
        flex-direction: column;

        padding: 0;
        overflow-y: none;
    }

    .goalbox {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .goalbox h1 {
        font-size: 30px;
    }

    .achibox h1 {
        font-size: 30px;
    }

    .arrowd {
        display: none;
    }
    .pwoutspan span, br{
        display: none;
    }
    .f{
      display: inline-block !important;  
    }
}



@media screen and (min-width: 1414px) {
    .aboutsec {
        height: 950px;
        justify-content: center;
        width: 100vw;
        display: flex;
        
    }
    .layoutdiv {
        padding-right: 5rem;
        padding-left: 5rem;
        flex-direction: column;
        gap: 2.5rem;
        width: 66.6667%;
        display: flex;
        height: 100%;
        
    }
    .allsec {
        height: 100%;
        overflow: hidden;
    }
    

    .infosec {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        width: 100%;
        height: 75%;
    }

    .headerdivm {
        margin-bottom: 96px;
    }

    .goalbox h1 {
        align-self: center;
    }

    .achibox h1 {
        align-self: center;
        
    }

    .aboutdiv {
        box-shadow: rgba(152, 152, 152, 0.19) 6px 6px 10px 2px;
        z-index: 2;
        background-color: rgb(255, 255, 255);
        border-width: 2px;
        border-style: solid;
        border-color: rgb(226, 226, 226);
        border-image: initial;
        border-radius: 20px;
        padding: 2rem;
    }

    .aboutdiv h1 {
        font-size: 30px;
        overflow: hidden;
        font-weight: 800;

        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 1rem;
    }
    .boxlayout {
        justify-content: space-between;
        width: 100%;
        display: flex;
        padding: 0;
        overflow: visible;
    }

    .headerdivm {
        overflow: hidden;
    }

    .jemdiv {
        height: 545px;
        border: 2px solid rgb(226, 226, 226);
        border-radius: 22px;
        box-shadow: 6px 6px 10px 2px rgba(152, 152, 152, 0.189);
    }
    .achibox {
        height: auto;
    }
    .goalbox {
        height: auto;
    }
    .arrowd {
    }
}