 @media screen and (min-width: 1414px) {
  .herosec {
    height: 800px;
}
.portraitImg{
    height: 270px;
    width: 270px;
    object-fit: cover;
    animation: wobble 5s ease infinite;
    border: 3px solid rgb(255, 221, 72);
}
.personalCard {
    border: 2px solid rgb(226, 226, 226);
    border-radius: 25px 25px 25px 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 6px 6px 10px 2px rgba(137, 137, 137, 0.189);
}

.rotatedEm {
    font-size: 30px;
    position: absolute;
    top: -7px;
    right: -35px;
    animation: moveUpDownD 6.5s ease-in-out infinite;
    color: rgb(0, 0, 0);
}

  
.newsletterDiv {
    position: absolute;
    right: 310px;
    top: 130px;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 6px 6px 10px 2px rgba(115, 115, 115, 0.189);
}
.dotchannel {
  position: absolute;
  height: 28px;
  width: 4px;
  background-color: rgb(128, 128, 128);
  right: 489px;
  top: 267px;
  box-shadow: 1px 0px 4px 0px rgb(130, 130, 130);
}
.socialdiv {
  border-radius: 20px;
  border: 2px solid rgb(226, 226, 226);
  background-color: white;
  box-shadow: 6px 6px 10px 2px rgba(171, 171, 171, 0.189);
  top: 360px;
  left: 320px;
}
 }
 
 @media screen and (min-width: 902px) and (max-width: 1413px) {
  .herosec {
    height: 800px;
  }
  .portraitImg{
      height: 270px;
      width: 270px;
      object-fit: cover;
      animation: wobble 5s ease infinite;
      border: 3px solid rgb(255, 221, 72);
  }
  .personalCard {
      border: 2px solid rgb(226, 226, 226);
      border-radius: 25px 25px 25px 25px;
      padding-top: 30px;
      padding-bottom: 30px;
      box-shadow: 6px 6px 10px 2px rgba(137, 137, 137, 0.189);
      margin: 0;
      width: 80%;
  }
  .centre {
    display: flex;
    align-items: center;
  }
  .socialdiv {
    border-radius: 20px;
    border: 2px solid rgb(226, 226, 226);
    background-color: white;
    box-shadow: 6px 6px 10px 2px rgba(171, 171, 171, 0.189);
    height: 70px;
    right: 20%;
    top: 530px;
  }
  .socialdiv h1 {
    display: none;
  }

}




@keyframes moveUpDownD {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px); /* Adjust the value to control the movement distance */
    }
    100% {
      transform: translateY(0);
    }
}

  


@keyframes wobble {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
  25% {
    border-radius: 60% 40% 55% 45% / 45% 55% 60% 40%;
  }
  50% {
    border-radius: 40% 60% 45% 55% / 55% 45% 40% 60%;
  }
  75% {
    border-radius: 55% 45% 60% 40% / 60% 40% 55% 45%;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  }
}

  




@media screen and (max-width: 901px) {
    .herosec {
        height: 1000px;
    }
    .portraitImg{
        height: 250px;
        width: 250px;
        object-fit: cover;
        animation: wobble 5s ease infinite;
        border: 3px solid rgb(255, 221, 72);
    }
    .centre {
      display: flex;
      align-items: center;
    }
    .personalCard {
        border-radius: 25px 25px 25px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 80%;
        height: auto;
        gap: 2rem;
    }

    .personalCard h1 {
      overflow: hidden;
    }
    .rotatedEm {
        font-size: 30px;
        position: absolute;
        top: -7px;
        right: -35px;
        animation: moveUpDownD 6.5s ease-in-out infinite;
        color: rgb(0, 0, 0);
    }

      
    .newsletterDiv {
        display: none;
    }
    .dotchannel {
      display: none;
    }
    .socialsec {
      border-radius: 20px;
      background-color: white;
      top: 50px;
      width: 80%;
      height: 50px;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .socialdiv {
      border-radius: 20px;
      background-color: white;
      height: auto;
      width: 100%;
    }
    .social {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 1rem;
    }
    .socialdiv img {
      width: 20px;
      height: 20px;
    }
    .socialdiv h1 {
      display: none;
    }
    .personalCard h1 {
      font-size: 2.5rem;
    }
}

@media screen and (max-width: 550px) {

  .socialdiv {
    display: none;
  }
  .centre {
    padding-top: 110px;
  }
  .dotchannel {
    display: none;
  }
  .menutoggle {
    overflow: hidden;
  }
  .personalCard {
    gap: 3rem;
  }
  .pinp {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  
}