.newssec {
    height: 1600px;
}


@media screen and (min-width: 901px) {
    #newsh1 {
        padding: 2px 4px 2px 4px;
    }

    .newscard {
        height: 550px;
        width: 400px;
        border: 2px solid rgb(234, 234, 234);
        border-radius: 20px;
        box-shadow: 6px 6px 10px 2px rgba(159, 159, 159, 0.35);
        overflow: hidden;
        position: relative; /* Ensure positioning context for absolute children */
        transition: transform 0.3s ease, box-shadow 0.5s ease;
    }
    
    .newscard:hover {
        transform: scale(1.01) translateY(-10px);
        box-shadow: 10px 10px 15px 3px rgba(112, 112, 112, 0.3);
    }
    
    .imggrad {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
       
        z-index: 1;
        border-radius: 18px;
        
    }


    .img1 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 0%;
        border-radius: 18px;
    }
    .img2 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 60%;
        border-radius: 18px;
    }
    .img3 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 53% -75px;
        border-radius: 18px;
        transform: scale(1.5);
    }

    .img4 {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 60% 0px;
        border-radius: 18px;
    }

    
    .overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        padding: 1rem 1rem 1rem 1rem;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.3s ease;
        color: black;
        user-select: none;
        background-color: white;
        box-shadow: 0px -1px 10px 30px rgb(255, 255, 255);
    }
    
    .newscard:hover .overlay {
        opacity: 1;
    }
    
    .overlay h1 {
        font-size: 34px;
        font-weight: bolder;
        text-align: start;
    }
    
    .overlay h4 {
        font-size: 10px;
        font-weight: bolder;
    }
    
    .overlay p {
        text-align: justify;
        font-size: 12px;
        font-weight: 200;
        padding: 12px 30px 0px 30px;
        height: 90px;
    }
    .overlay a {
        font-weight: bold;
    }
    
    .flagsvg {
        height: 15px;
        width: 15px;
    }
    
    
}